<div class="container">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Recipient's username"
      aria-label="Recipient's username"
      aria-describedby="basic-addon2"
      [(ngModel)]="email"
    />
    <span class="input-group-text" id="basic-addon2">@example.com</span>
  </div>
  {{ email }}
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">@</span>
    <input
      type="text"
      class="form-control"
      placeholder="Username"
      aria-label="Username"
      aria-describedby="basic-addon1"
      [ngModel]="username"
      (ngModelChange)="onChangeUsername($event)"
    />
  </div>
  <p>{{ username }}</p>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Recipient's username"
      aria-label="Recipient's username"
      aria-describedby="basic-addon2"
      [value]="recipient"
      (input)="onChangeRecipient($event)"
    />
    <span class="input-group-text" id="basic-addon2">@example.com</span>
  </div>
  <p>{{ recipient }}</p>
</div>
