<div class="d-flex align-items-center justify-content-center mt-5">
  <button type="button" class="btn btn-dark" (click)="onShowAirPollution()">
    Show more details about air pollution!
  </button>
</div>

<div *ngIf="showDetailsCard">
  <div class="card container mt-4">
    <div class="d-flex align-self-center">
      <p class="fw-bold m-0">Carbon dioxide:</p>
      <span
        class="ps-2"
        [ngClass]="{
          'text-danger': airPollution.list[0].components.co > 9400,
          'text-warning':
            airPollution.list[0].components.co > 4400 &&
            airPollution.list[0].components.co < 9399,
          'text-success': airPollution.list[0].components.co < 4399
        }"
      >
        {{ airPollution.list[0].components.co }}</span
      >
    </div>
    <div class="d-flex align-self-center">
      <p class="fw-bold m-0">Nitrogen dioxide:</p>
      <span
        class="ps-2"
        [ngClass]="{
          'text-danger': airPollution.list[0].components.no2 > 149,
          'text-warning':
            airPollution.list[0].components.no2 > 40 &&
            airPollution.list[0].components.no2 < 69,
          'text-success': airPollution.list[0].components.no2 < 39
        }"
      >
        {{ airPollution.list[0].components.no2 }}</span
      >
    </div>
    <div class="d-flex align-self-center">
      <p class="fw-bold m-0">Ammonia:</p>
      <span
        class="ps-2"
        [ngClass]="{
          'text-danger': airPollution.list[0].components.nh3 > 200,
          'text-warning':
            airPollution.list[0].components.nh3 > 51 &&
            airPollution.list[0].components.nh3 < 199,
          'text-success': airPollution.list[0].components.nh3 < 50
        }"
      >
        {{ airPollution.list[0].components.nh3 }}</span
      >
    </div>
    <div class="d-flex align-self-center">
      <p class="fw-bold m-0">Particulates:</p>
      <span
        class="ps-2"
        [ngClass]="{
          'text-danger': airPollution.list[0].components.pm2_5 > 25,
          'text-warning':
            airPollution.list[0].components.pm2_5 > 10 &&
            airPollution.list[0].components.pm2_5 < 24,
          'text-success': airPollution.list[0].components.pm2_5 < 9
        }"
      >
        {{ airPollution.list[0].components.pm2_5 }}</span
      >
    </div>
    <hr class="mb-0" />
    <div class="d-flex align-items-center justify-content-around">
      <div class="green-container d-flex align-items-center">
        <div class="green-bg d-flex align-items-center"></div>
        <span class="p-1"> low air pollution </span>
      </div>
      <div class="warning-container d-flex align-items-center">
        <div class="warning-bg"></div>
        <span class="p-1"> warning air pollution </span>
      </div>
      <div class="danger-container d-flex align-items-center">
        <div class="danger-bg"></div>
        <span class="p-1"> danger air pollution </span>
      </div>
    </div>
  </div>
</div>
